@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif !important; */
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, */
  /* Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  scroll-behavior: smooth;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

section {
  background-color: transparent;
}

.section {
  padding: 5rem 1.5rem;
}

.section-primary {
  height: 85vh;
  justify-content: center !important;
  margin-top: 3.5rem;
}

.is-primary {
  /* background-color: #23ff00; */
  background-color: #8060f6;
  padding: 10rem 2.5rem;
}

.is-half {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section.skills {
  margin-top: -9rem;
  padding-bottom: 1rem;
}

.section.is-long {
  padding-bottom: 14rem;
}

.skill-data {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-data p {
  font-weight: 700;
}

.skill-title {
  font-weight: 700;
}

.projects .project-grid {
  padding: 2rem 0 4rem;
}

.projects .project-grid figure {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: black;
}

.projects .project-grid figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 3rem;
  color: #ffffff;
  z-index: 1;
}

.projects .project-grid .overlay,
.projects .project-grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.45s ease-in-out;
}

.projects .project-grid figure img.project-thumb {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: 0.25s ease-in-out;
}

.projects .project-grid figure:hover .overlay,
.projects .project-grid figure:hover figcaption {
  opacity: 1;
}

.projects .project-grid figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.image.is-3by2 {
  padding-top: 66.6666%;
}

.project-thumb {
  padding: 20px;
  object-fit: contain;
}

.caption-box {
  background-color: black;
}

.caption-box h1 {
  color: white;
}

/* bottom div */

.bottom-div {
  padding-bottom: 1 !important;
}

/*  */

.social-media-box {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.social-media-box a:hover {
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
}

/*  */

.footer-container {
  margin-top: 1.8rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 3rem 3rem;
  }

  .section.is-medium {
    padding: 9rem 4.5rem;
  }
}

@media screen and (min-width: 1216px) {
  .section.is-long {
    padding-bottom: 18rem;
  }
}

@media screen and (min-width: 769px) {
  .section.is-long {
    padding-bottom: 15rem;
  }

  .columns:not(.is-desktop) {
    display: flex;
  }

  .projects .project-grid {
    padding-top: 4rem;
  }

  .bottom-div {
    padding: 0;
  }

  .bottom-div {
    /* margin-bottom: 1.8rem; */
  }

  .social-media-box {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

h1 {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif !important; */
}

a {
  color: inherit;
  text-decoration: none;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif !important; */
}

/*  */

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Nav */
/* .top-navbar{
  margin-bottom: .5rem!important;
} */

nav .navbar-item {
  color: black;
  font-weight: 700;
}
.navbar {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02) !important;
}

.navbar-item:hover {
  background-color: #8060f6 !important;
  color: #fff !important;
}

.nav-item:hover {
  /* background-color: red!important; */
  /*text-decoration: underline!important;
  text-decoration-color: #0381EE!important;
  padding-top: 1rem;
  color: black!important; */
}

/*  */

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.name-box {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.name-box:hover {
  animation-name: bounce;
  -moz-animation-name: bounce;
}

/* Skill Image */

.skill-image:hover {
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
}

/* About */

h2 {
  color: #ffffff!important;
}

/* Contact Container */

.contact-container-title {
  color: #ffffff !important;
}

.submit-button {
  background-color: #ffffff!important;
  color: #8060f6 !important;
  font-weight: bold!important;
  border: 2px solid #8060f6!important;
}

.submit-button:hover {
  background-color: #8060f6 !important;
  border-color: #8060f6 !important;
  color: #ffffff !important;
}

textarea:focus {
  border: 2px solid #8060f6!important;
}

input:focus {
  border: 2px solid #8060f6!important;
}

/* Skill */

.button-primary-colored {
  border-color: #8060f6 !important;
  color: #8060f6 !important;
}

.button-primary-colored:hover {
  background-color: #8060f6 !important;
  border-color: #8060f6 !important;
  color: #ffffff !important;
}

/* Footer */

.social-media-box a {
  color: #8060f6!important;
}

.footer-container a {
  color: #8060f6!important;
  font-weight: bold!important;
}
