html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

section {
  background-color: transparent;
}

.section {
  padding: 5rem 1.5rem;
}

.section-primary {
  height: 85vh;
}

.section.is-primary {
  background-color: #23ff00;
}

.is-half {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section.skills {
  margin-top: -9rem;
  padding-bottom: 1rem;
}

.section.is-long {
  padding-bottom: 14rem;
}

.skill-data {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects .project-grid {
  padding: 2rem 0 4rem;
}

.projects .project-grid figure {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: black;
}

.projects .project-grid figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 3rem;
  color: #ffffff;
  z-index: 1;
}

.projects .project-grid .overlay,
.projects .project-grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.45s ease-in-out;
}

.projects .project-grid figure img.project-thumb {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: 0.25s ease-in-out;
}

.projects .project-grid figure:hover .overlay,
.projects .project-grid figure:hover figcaption {
  opacity: 1;
}

.projects .project-grid figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.image.is-3by2 {
  padding-top: 66.6666%;
}

.project-thumb {
  padding: 20px;
  object-fit: contain;
}

.caption-box {
  background-color: black;
}

.caption-box h1 {
  color: white;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 3rem 3rem;
  }

  .section.is-medium {
    padding: 9rem 4.5rem;
  }
}

@media screen and (min-width: 1216px) {
  .section.is-long {
    padding-bottom: 18rem;
  }
}

@media screen and (min-width: 769px) {
  .section.is-long {
    padding-bottom: 15rem;
  }

  .columns:not(.is-desktop) {
    display: flex;
  }

  .projects .project-grid {
    padding-top: 4rem;
  }
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
